/* 
    Document   : main
    Created on : 15/Fev/2013, 22:43:50
    Author     : p
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background:#eee;
    font-family:arial, helvetica, sans-serif;
    font-size:10pt;
    color:#000;
    margin:0;
    padding:0;
}

a {
    color:#E65524;
    text-decoration:none;
}

.centered {
    text-align:center;
}

.full-width {
    width: 100%;
}

.clear {
    clear:both;
}

.faded {
    color:#666;
}

.strike { text-decoration:line-through; color:red; }

#container {
    width:960px;
    margin:0 auto 20px auto;
}

#header {
    height:76px;
    background:url(../img/header-bg.png) top left repeat-x;
    /*background:url(../img/header_left.png) top left repeat-x;*/
    border-left:1px solid #aaa;
    border-right:1px solid #aaa;
}

#logo {
    display:block;
    float:left;
    width:190px;
    height:76px;
    text-decoration:none;
    outline:none;
    text-indent:-9999px;
    background:url(../img/logo.png) top left no-repeat;
}

#header p {
    display:block;
    width:430px;
    float:right;
    margin:10px;
    background:#eee;
    border:1px solid #ccc;
    padding:8px;
    text-align:center;
}

#content {
    clear:both;
    border:1px solid #aaa;
    border-top:none;
    border-bottom:3px solid #bbb;
    padding:10px 10px 20px 10px;
    background:#fff;
}

#content a {
    color:#184E81;
}

#footer {
    clear:both;
    padding:10px;
    text-align:center;
    font-size:9pt;
}


h2 {
    margin:0;
    padding:0;
    font-size:12pt;
    color:#0A568E;
}

h2 i {
    font-size:12px;
    top:-2px;
    position:relative;
    color:#0a0;
}

h2 span { color:#000; }

h3 {
    margin:10px 0 0 0;
    padding:5px 0;
    font-size:10pt;
    color:#444;
}
/* MessageBox */
#success_bar { margin: 0; margin-bottom: 10px; padding: 5px 10px 5px 36px; height: 16px; line-height: 16px; border: 1px solid #0a0;    background: url('../img/success.png') 10px 50% no-repeat #e0ffe0; }
#notice_bar  { margin: 0; margin-bottom: 10px; padding: 5px 10px 5px 36px; height: 16px; line-height: 16px; border: 1px solid #0a0;    background: url('../img/notice.png')  10px 50% no-repeat #e0ffe0; }
#warning_bar { margin: 0; margin-bottom: 10px; padding: 5px 10px 5px 36px; height: 16px; line-height: 16px; border: 1px solid #f26522; background: url('../img/alert.png')   10px 50% no-repeat #ffffdd; }
#error_bar   { margin: 0; margin-bottom: 10px; padding: 5px 10px 3px 36px; height: 16px; line-height: 16px; border: 1px solid #a00;    background: url('../img/error.png')   10px 50% no-repeat #fff0f0; }

/* Overlay */
#overlay { 
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1000;
    -webkit-transform: translate3d(0,0,0); 
}

#loading, #upgrading {
    border:1px solid #2a67ac;
    padding: 10px 10px 10px 60px; 
    width: 300px; 
    height: 100px; 
    background: rgb( 255, 255, 255) url('../img/FhHRx-Spinner.gif') 10px 50% no-repeat;
    position: fixed; 
    display: none; 
    z-index: 3000; 
}

#loading h4, #upgrading h4 { margin: 3px 0 0 0; padding: 0; color: #d80; }

